.navbar {
    border-bottom: 1px solid white;
}

.nav-link, .navbar-brand, .navbar-brand:hover, .custom-txt {
    color: white;
}

.nav-link:hover {
    color: #D2F0FF;
}

.bg-custom-1 {
    background-color: #829EAD ;
}

.bg-custom-2 { 
    background-color: #DDECEE;
}

.item-1 {
    /* Photo by <a href="https://unsplash.com/@thoughtcatalog?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thought Catalog</a> on <a href="https://unsplash.com/photos/UK78i6vK3sc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */ 
    background: url('images/laptop-md.jpg');
}

.item-2 {
    /* Photo by <a href="https://unsplash.com/@priscilladupreez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Priscilla Du Preez</a> on <a href="https://unsplash.com/photos/zeqWK0n5PNM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background: url('images/cheering-md.jpg');
}

.item-3 {
    /* Photo by <a href="https://unsplash.com/@glenncarstenspeters?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Glenn Carstens-Peters</a> on <a href="https://unsplash.com/photos/RLw-UC03Gwc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background: url('images/notepad-md.jpg');
}

h4 {
    border: 10px solid transparent;
}

h4:hover {
    border: 10px solid rgba(255, 255, 255, 0.388);
}

.bigger-img:hover {
    background-size: 110%;
}

.all-images {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.centered {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }